# ESP-IDF
**/build/
**/managed_components/
**/sdkconfig
.vscode/

# C compiled files
*.exe
*.o
*.out


# STM32CubeIDE workspace
STM32/.metadata/
**/.metadata/

# STM32 build outputs
**/Debug/
**/Release/

*.elf
*.bin
*.hex
*.map
*.d
*.su
*.cyclo